
# QtCreator's built files
build-*/

# Many ides create this user specific file
*.user


# Code::Blocks files
cpp/TestProfile/obj/
cpp/build/
cpp/TestProfile/TestProfile.depend
cpp/TestProfile/TestProfile.layout

# Visual Studio files
cpp/TestProfile/.vs/
cpp/TestProfile/Debug/
cpp/TestProfile/x64/

# created in test
cpp/TestProfile/TestProfile.ini
