
# QtCreator's built files
build-*/

# Many ides create this user specific file
*.user


# Code::Blocks files
cpp/TestProfile/obj/
cpp/build/
cpp/TestProfile/TestProfile.depend
cpp/TestProfile/TestProfile.layout

# Visual Studio files
cpp/TestProfile/.vs/
cpp/TestProfile/Debug/
cpp/TestProfile/Release/
cpp/TestProfile/x64/

# created in test
cpp/TestProfile/TestProfile.ini


cli/Profile/Profile.2013.v12.suo
cli/Profile/Profile/bin/
cli/Profile/Profile/obj/
cli/Profile/ProfileBasicTest/bin/
cli/Profile/ProfileBasicTest/obj/

cli/ProfileCompatTest/Debug/
cli/ProfileCompatTest/ProfileTest.2013.sdf
cli/ProfileCompatTest/ProfileTest.2013.v12.suo
cli/ProfileCompatTest/ProfileTest/Debug/
cli/ProfileCompatTest/ipch/


cpp/GTestProfile/.vs/
cpp/GTestProfile/Debug/
cpp/GTestProfile/Release/
cpp/GTestProfile/inifile.ini
cpp/GTestProfile/x64/

