
# QtCreator's built files
build-*/

# Many ides create this user specific file
*.user


# Code::Blocks files
cpp/TestProfile/obj/
cpp/build/

# Visual Studio files
cpp/TestProfile/.vs/
cpp/TestProfile/Debug/
cpp/TestProfile/x64/

# created in test
cpp/TestProfile/TestProfile.ini
